body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: blue;
    line-height: 1.6;
    width: 100%;
    background: url(../img/wallpaperflare.com_wallpaper.jpg) center, no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.header{
    width: 100%;
    max-width: 83%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;
    
}

.header_logo{
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(180, 180, 180);
}

.txt{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0;
    position: relative;
}

.container{
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0;
    position: relative;
    place-content: center;
    z-index: 1;
}

.label_block{
    padding: 5px;
    position: relative;
    width: 240px;
    padding-bottom: 30px;
    
    
}
.label_image{
    padding-bottom: 2px;
}

img {
    width: 100%;
    border-radius: 40px 10px;
    object-fit: contain;
}

.label_box{
    border-radius: 40px 10px;
    background: white;
}

.label_name{
    text-align: center;
    padding-bottom: 5px;
}

/* artist */

.artist_box{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 30px;
}