body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: blue;
    line-height: 1.6;
    width: 100%;
    background: url(../img/wallpaperflare.com_wallpaper.jpg) center, no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

.page_box{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 80%;
}

.header {
    width: 100%;
    max-width: 83%;
    margin: 0 auto;
    margin-top: 2%;
    text-align: center;

}

.header_logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: 700;
    color: rgb(180, 180, 180);
}

.txt {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0;
    position: relative;
}

.container {
    padding-top: 3%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    max-width: 80%;
    margin: 0 auto 0;
    position: relative;
    place-content: center;
    z-index: 1;
}

.label_block {
    padding: 5px;
    position: relative;
    width: 180px;
    padding-bottom: 30px;
}
.link_art{
    text-decoration: none;
    color: rgb(2, 0, 111);
}

.label_image {
    padding-bottom: 2px;
}

img {
    width: 100%;
    border-radius: 25px 5px;
    object-fit: contain;
}

.label_box {
    border-radius: 11px 5px;
    background: white;
}

.label_name {
    text-align: center;
    padding-bottom: 5px;
    font-size: 15px;
}

/* artist */

.card {
    background-color: rgb(23 65 81 / 0.8);
    padding: 20px;
    margin: 20px auto;
    position: relative;
    width: 900px;
    border-radius: 25px 5px;
}

.first_line{
    display: flex;
}

.artist_img{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 40px 5px;
}

.info{
    text-align: center;
    color: white;
    margin: 0 auto;
    width: 400px;
}

.info_list{
    text-align: center;
}
.key{
    text-transform: capitalize;
}

footer{
    color: white;
    text-align: center;
    width: 100%;
    font-size: 12px;
    padding: 20px;
    margin-top: auto;
}