body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: blue;
    line-height: 1.6;
    width: 100%;
    background: url(../img/wallpaperflare.com_wallpaper.jpg) center, no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.header{
    width: 100%;
    max-width: 83%;
    margin: 0 auto;
    margin-top: 1%;
}

.header_logo{
    font-size: 30px;

}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0;
    position: relative;
    z-index: 1;
}